THEAUDIODB_API_KEY=
MUSICBRAINZ_USER_AGENT=SoundScope/1.0 (https://github.com/zampieri05/soundscope)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
AWS_REGION=
S3_BUCKET_NAME=
DYNAMODB_TABLE_NAME=
